  <div class="banner">
    <h1>PKanban</h1>
    <p>É uma maneira simples de gerenciar suas tarefas pessoais e profissionais de forma visual.</p>
    <p><%=link_to('Cadastra-se Agora', new_user_registration_path, :class => 'btn btn-front')%></p>
    <ul class="masthead-links">
      <li><a href="https://github.com/andrezip/pkanban">Projeto no GitHub</a></li>
      <li>Versão 1.0</li>
    </ul>
  </div>

  <div class="container">

    <div class="row1">
      <h2>Personal Kanban é uma solução ideal para aumentar a produtividade em suas tarefas diárias. Está ganhando enorme popularidade porque é simples de usar e fácil de se adaptar.</h2>
      <ul class="lists">
        <li>Organize suas tarefas a serem feitas pela Web;</li>
        <li>Saiba oque você está fazendo.</li>
        <li>Acompanhe a sua evolução de trabalho.</li>
        <li>Economizar seu valioso tempo, que você pode muito bem ser gasto em outras atividades.</li>
      </ul>
    </div>

    <div class="row1">
      <h2>Quem e como pode usar?</h2>
      <p>Todos! É tão simples que até as crianças podem usá-lo. Vou citar alguns exemplos:</p>
      <ul class="lists">
        <li>Famílias podem usar para compartilhar e organizar as tarefas domésticas.</li>
        <li>Estudantes e Professores- para planejar trabalhos e provas da faculdade.</li>
        <li>Arquitetos - para reunir os requisitos e preparar projetos.</li>
        <li>Executivos - para organizar sua vida pessoal e empresarial.</li>
      </ul>
      <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
    </div>

    <div class="row1 row-btn">
      <p><%=link_to('Cadastra-se Agora', new_user_registration_path, :class => 'btn btn-front')%></p>
    </div>

    <div class="row1">
      <h2>Personal kanban em 3 Passos:</h2>
    </div>

    <div class="row2">
      <h4>Mapei seu fluxo de trabalho:</h4>
      <p>Primeiro de tudo você precisa identificar o seu fluxo de trabalho.  Qual será a melhor maneira de organizar suas tarefas.</p>  
    </div>

    <div class="row2">
      <h4>Visualize seu trabalho</h4>
      <p>Depois de ter seu processo mapeado, você pode começar a criar suas tarefas. Cada atividade deve ser escrito em postites separado.</p>  
      <p>Você pode usar cores para diferenciar os tipos de tarefa. Em seguida, você pode pensar sobre a adição de informações adicionais, tais como descrição, prioridade, listas de afazeres, prazos e pessoas designadas para essa tarefa.</p>  
    </div>  

    <div class="row2">
      <h4>Limitar o trabalho em curso</h4>
      <p>A próxima coisa que precisa ser feito é limitar a quantidade de tarefas em andamento. Isso permitirá que você se concentre nas tarefas certas na hora certa. </p>
      <p>Você não pode se concentrar em mais de duas coisas ao mesmo tempo. Se você tentar, você perde o seu foco e tornam-se menos produtivos.</p>
    </div>  

    <div class="space"></div> 

    <div class="row1">
      <h4>Agora você pode começar a planejar, organizar e trabalhar de forma mais eficiente.</h4>
      <h4>É simples assim.</h4> 
    </div>

    <div class="space"></div>

  </div>
