  <div class="top-line">
    <h1></h1>
    <p></p> 
  </div>

  <div class="container">
    <div id="help">
      <h3>Adicionar Sprint</h3>
      <p>No Personal Kanban, os projetos são dividos em ciclos (tipicamente mensais) chamados de Sprints.</p>
      <p> O Sprint representa um Time Box dentro do qual um conjunto de atividades deve ser executado.</p>
    </div>

    <div class="row-adm">
      <%= render 'form' %>
    </div>
  </div>
