/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{ 
    font:2em Arial, Helvetica, sans-serif;
    border: 0;
    margin: 0;
    padding:0; 
}

#header, #footer{
    float: left;
    width: 100%;
    background: #000;
    color: #FFF;
    padding: 1% 0;
}

#header .user_logged{
    float:right;
    color: #FFF;
    margin: 1%;
} 

#header #logo{
    color: #CCC;
    display: block;
    float: left;
    font-size: 20px;
    margin: 2% 0 2% 2%;
    text-decoration: none;
} 

#menu{
    float: left;
    width: 40%;
    display: none;
}
 
#menu ul{
    float: left;
    width: 100%;
    list-style: none;
}
 
#menu ul li{
    float: left;
    padding: 2%;
    background: #FFF;
    color: #000;
    margin: 0.5%;
}

#content{
    float: left;
    width: 92%;
    padding: 4%;
}

#footer{
    text-align: center;
}
